@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 
@-ms-viewport {
  width: device-width ;
}
body {
	background-color: lightblue;
}

@media screen and (min-width:320px) and (max-width:640px) {
  input {
	  
  }
}